<div class="row">
  <div class="col-3">
    <%= render 'public/searches/search_region' %>
  </div>
  <div class="col-9">
    <div class="row justify-content-center">
      <h2 class="text-center">
        バドひろばへようこそ！<br>
        近くの体育館を探してバドミントン仲間を作りましょう！
      </h2>
    </div>
  </div>
</div>