<div class="container">
  <div class="row">
    <div class="col-2">
      
    </div>
    <div class="col-10">
      <h2>
        バドひろばへようこそ！<br>
        お近くの体育館を探してバドミントン仲間を作りましょう！
      </h2>
      <h4>会員でない方はグループに参加できません</h4>
    </div>
    
  </div>
</div>
