<div class="container mt-5">
  <div class="row">
    <div class="col-sm-3">
      <%= render 'public/searches/search_region' %>
    </div>
    <div class="col-sm-9">
      <div class="row justify-content-center">
        <h2 class="text-center">
          バドひろばへようこそ！<br>
          近くの体育館を探してバドミントン仲間を作りましょう！
        </h2>
        <% unless current_member %>
          <h4>会員でない方はグループに参加できません</h4>
        <% end %>
      </div>
      <div class="row justify-content-center mt-5">
        <% unless current_member %>
          <%= link_to "新規登録", new_member_registration_path, class: "btn btn-success w-50" %>
        <% end %>
      </div>
      <div class="row justify-content-center mt-3">
        <% unless current_member %>
          <%= link_to "ログイン", new_member_session_path, class: "btn btn-primary w-50" %>
        <% end %>
      </div>
      <div class="row justify-content-center mt-3">
        <% unless current_member %>
          <%= link_to "ゲストログイン(閲覧用)", members_guest_sign_in_path, class: "btn btn-secondary w-50 sign_in", method: :post %>
        <% end %>
      </div>
    </div>
  </div>
</div>

