<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <%= render 'public/searches/search_region' %>
    </div>
    <div class="col-9">
      <h2>
        バドひろばへようこそ！<br>
        お近くの体育館を探してバドミントン仲間を作りましょう！
      </h2>
      <h4>会員でない方はグループに参加できません</h4>
    </div>
  </div>
</div>
