<% if post.favorited_by?(current_member) %>
  <p>
    <%= link_to group_post_favorites_path(@group,post), method: :delete do %>
      ♥<%= post.favorites.count %> いいね
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to group_post_favorites_path(@group,post), method: :post do %>
      ♡<%= post.favorites.count %> いいね
    <% end %>
  </p>
<% end %>