<table>
  <tbody>
      <% post.post_comments.each do |post_comment| %>
      <tr>
        <td>
          <%= image_tag post_comment.member.get_profile_image(100,100), class: "circle-image" %><br>
          <%= post_comment.member.display_name %>
        </td>
        <td><%= post_comment.comment %></td>
        <td>
          <% if post_comment.member == current_member %>
            <%= link_to "削除", group_post_post_comment_path(post.group,post, post_comment), method: :delete, class: "btn btn-danger pull-right",remote: true %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>