/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header{
background-color: #ffe4c4;
font-size: 25px;
}

.footerFixed{
  position: relative;
  background-color:  #ffefd5;
  min-height: 100vh;
  padding-bottom: 100px;
  box-sizing: border-box;
}

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  background: #a0522d;
  text-align: center;
}

.square-image {
  width: 100px; /* 任意の幅 */
  height: 100px; /* 任意の高さ */
  object-fit: cover; /* 縦横比を維持しながら画像を中央に配置 */
}

.admin-square-image {
  width: 200px; /* 任意の幅 */
  height: 200px; /* 任意の高さ */
  object-fit: cover; /* 縦横比を維持しながら画像を中央に配置 */
}

.circle-image {
  width: 100px; /* 任意の幅 */
  height: 100px; /* 任意の高さ */
  object-fit: cover; /* 縦横比を維持しながら画像を中央に配置 */
  border-radius: 50%; /* 画像を円形にする */
}

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

@media screen and (max-width: 993px) {
  th, td {
    display: block;
  }
}